@import "./ui-elements/colors.scss";

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	background: #f2efef;
	color: #666;
	font-family: "RobotoDraft", "Roboto", sans-serif;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	animation: fadeInAnimation ease 1s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.container {
	position: relative;
	padding-right: 20px;
	padding-left: 20px;
}

.flexWrapper {
	display: flex;
	flex-wrap: wrap;
	padding: 30px;
	margin-top: 100px;
}

.formCard {
	flex: 12%;
	margin-right: 80px;

	.underline {
		border-bottom: 2px solid lighten($primary-color, 45%);
		display: inline-block;
		line-height: 1.5;
	}

	form {
		padding-bottom: 20px;
	}
}

.formCard h1 {
	text-align: center;
	margin-bottom: 60px;
}

.imageBlock {
	flex: 30%;
	margin-bottom: 50px;
}

.imageBlock img {
	margin: 60px 0 0 40px;
	width: 500px;
}

.welcome {
	text-align: center;
	letter-spacing: 1.5px;
	line-height: 35px;
}

.welcome h2 {
	margin: 50px 0 35px;
}
