{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "entry"
			}
		],
		"@babel/preset-react"
	],
	"plugins": [
		[
			"@babel/plugin-transform-runtime",
			{
				"absoluteRuntime": false,
				"corejs": 3,
				"helpers": true,
				"regenerator": true,
				"version": "7.0.0-beta.0"
			},
			"babel-plugin-styled-components"
		]
	]
}
